doctype html
html
  head
    title Addis Building Cost Estimation
    link(rel='stylesheet', href='../css/mainForm.css')
    script.
      function toggleDeleteIcon(index, show) {
        const deleteIcon = document.querySelector(`.delete-icon-${index}`);
        deleteIcon.style.display = show ? "inline-block" : "none";
      }
      
      function showConfirmation(index, projectname) {
        const confirmationOptions = document.getElementById(`confirmation-options-${index}`);
        confirmationOptions.style.visibility = "visible";
      }
      
      function hideConfirmation(index) {
        const confirmationOptions = document.getElementById(`confirmation-options-${index}`);
        confirmationOptions.style.visibility = "hidden";
      }
      
      function deleteProject(index, projectname) {
        // Perform the deletion logic here
        console.log(`Deleting project: ${projectname}`);
      }
      document.addEventListener('DOMContentLoaded', () => {
        const confirmYesButtons = document.querySelectorAll('.confirm-yes');
        confirmYesButtons.forEach((button) => {
          button.addEventListener('click', async () => {
            const projectName = encodeURIComponent(button.dataset.projectname);
  
            // Send an AJAX request to the deleteProject route
            const response = await fetch(`/deleteProject?projectName=${projectName}`, { method: 'GET' });
            
            if (response.ok) {
              // Reload the page
              window.location.reload();
            } else {
              // Handle error
              console.log('Error:', response.statusText);
            }
          });
        });
      });
  body
    header
      nav
        ul
          li
            a(href='/')
              img(src='../images/logo.png', alt='logo')
          li
            a(href='/') Home
          li
            a(href='/#abouteUs') About Us
          li
            a(href='/#contact') Contact
        ul
          li Hello, #{username}
          li
            a(href='/logout', class='myButton') Logout
    div.container
      div.projects
        h2 My projects
        ul
          each projectname, index in projectnames
            li(onmouseover=`toggleDeleteIcon(${index}, true)`, onmouseout=`toggleDeleteIcon(${index}, false)`)
              div.project-item
                a(href='/displayProject?projectName=' + encodeURIComponent(projectname)) #{projectname}
                span.confirmation-options(id=`confirmation-options-${index}`) 
                  a.confirm-yes(href='/deleteProject?projectName=' + encodeURIComponent(projectname)) Yes
                  a.confirm-no(href='#', onclick=`hideConfirmation(${index})`) No
                i.delete-icon(class=`delete-icon-${index}`, onclick=`showConfirmation(${index}, '${projectname}')`, style="display: none")
                  img.delete-icon-image(src='../images/trash-bin.png', alt='Delete')


      div.main
        h1 Fill in your project information here
        form(action='/mainForm', method='POST', onsubmit="return validateForm()")
          label(for='project-name') Project Name:
          input(type='text', id='project-name', name='projectName', required)
          br
          br

          label(for='built-up-area') Built-up Area in m2:
          input(type='number', id='built-up-area', name='builtUpArea', min='1', required)

          label(for='above_ground_floors') Number of Floors Above Ground Level:
          input(type='number', id='above_ground_floors', name='aboveGroundFloor', min='0', required)

          label(for='below_ground_floors') Number of Floors Below Ground Level:
          input(type='number', id='below_ground_floors', name='belowGroundFloor', min='0', required)

          label(for='floor_finishing_type') Floor Finishing Quality:
          select(id='floor_finishing_type', name='floorFinishingType', required)
            option(value='porcelineLocal') Porceline Local
            option(value='porcelineImported') Porceline Imported
            option(value='ceramicLocal') Ceramic Local
            option(value='ceramicImported') Ceramic Imported
            option(value='graniteLocal') Granite Local
            option(value='graniteImported') Granite Imported
            option(value='marbleLocal') Marble Local

          label(for='carpentry_and_joinery') Carpentry And Joinery Material Quality Grade:
          select(id='carpentry_and_joinery', name='carpentryAndJoinery', required)
            option(value='low') Low-quality internal door with local material no built-in cupboard, and cabinets
            option(value='low1') Low-quality internal door, built-in cupboard, and cabinets with local material
            option(value='medium', selected) Medium-quality internal door with local material no built-in cupboard, and cabinets
            option(value='medium1') Medium-quality internal door, built-in cupboard, and cabinets with local material
            option(value='high') High-quality internal door with local material no built-in cupboard, and cabinets
            option(value='high1') High-quality internal door, built-in cupboard, and cabinets with local material
            option(value='best') Best-quality -quality internal door with imported material no built-in cupboard, and cabinets
            option(value='best1') Best-quality -quality internal door, built-in cupboard, and cabinets with imported material

          label(for='roofing-material') Roofing Material:
          select(id='roofing-material', name='roofingMaterial', required)
            option(value='CIS Roof') CIS Roof
            option(value='Concrete Slab Roof') Concrete Slab Roof

          label(for='hvac-system') Is There HVAC System:
          select(id='hvac-system', name='HVACSystem', required)
            option(value='Yes') Yes
            option(value='No') No

          label(for='fire-protection-system') Is There Fire Protection System:
          select(id='fire-protection-system', name='fireProtectionSystem', required)
            option(value='Yes') Yes
            option(value='No') No

          label(for='building_type') Building Type:
          select(id='building_type', name='buildingType', required)
            option(value='residential') Residential
            option(value='commercial') Commercial
            option(value='industrial') Industrial

          label(for='sanitary_fixtures') Sanitary Fixtures Quality Grade:
          select(id='sanitary_fixtures', name='sanitaryFixtures', required)
            option(value='low') Low
            option(value='medium', selected) Medium
            option(value='high') High
            option(value='best') Best

          label(for='electrical_material') Electrical Material Quality Grade:
          select(id='electrical_material', name='electricalMaterial', required)
            option(value='low') Low
            option(value='medium', selected) Medium
            option(value='high') High
            option(value='best') Best

          button(type='submit', value='mainForm') Submit
    footer
      p &copy; 2023 Addis Building Cost Estimation
