<!DOCTYPE html>
<html>
<head>
	<title>Building Cost Estimation</title>
	<link rel="stylesheet" href="../css/output.css">
</head>
<body>
	<header>
		<nav>
			
			<ul>
				<a href="/"><img src="../images/logo.png" alt="logo"></a>
				<li><a href="/">Home</a></li>
				<li><a href="/#abouteUs">About Us</a></li>
				<li><a href="/#contact">Contact</a></li>
			</ul>
			<ul>
				<li><a href="/logout" class="myButton">Logout</a></li>
			</ul>
		</nav>
	</header>
	<div class="projectinfo">
		<h1>Project information</h1>
		<p><b>Project Name</b>: #{ projectName } </p>
		<p><b>The floor area sum is</b>: #{area} m&sup2</p>
		<p><b>The project Cost Estimation is</b>: #{costEstimate} ETB</p>
		<p><b>Built-up Area</b>: #{ builtUpArea } sqm</p>
		<p><b>Number Of Floors Above Ground Floor</b>: #{aboveGroundFloor} floors</p>
		<p><b>Number Of Floors Below Ground Floor</b>: #{belowGroundFloor} floors</p>
		<p><b>Floor Finishing Type</b>: #{floorFinishingType} </p>
		<p><b>Carpentry And Joinery</b>: #{carpentryAndJoinery}</p>
		<p><b>Roofing Material</b>: #{roofingMaterial} </p>
		<p><b>HVAC System</b>: #{HVACSystem}</p>
		<p><b>Fire Protection System</b>: #{fireProtectionSystem}</p>
		<p><b>Building Type</b>: #{buildingType}</p>
		<p><b>Sanitary Fixtures Quality Grade</b>: #{sanitaryFixtures}</p>
		<p><b>Electrical Materials Quality Grade</b>: #{electricalMaterial}</p>
	</div>
</body>
<footer>
	<p>&copy; 2023 Building Cost Estimation</p>
</footer>
</html>