<!DOCTYPE html>
<html>
<head>
	<title>Building Cost Estimation</title>
	<link rel="stylesheet" href="../css/mainForm.css">
</head>
<body>
	<header>
		<nav>
			
			<ul>
				<a href="/"><img src="../images/logo.png" alt="logo"></a>
				<h1>MEE Cost Estimation</h1>
				<li><a href="/">Home</a></li>
				<li><a href="#abouteUs">About Us</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<ul>
				<li><a href="/logout" class="myButton">Logout</a></li>
				<li><a href="/createUser" class="myButton2">Create Account</a></li>
			</ul>
		</nav>
	</header>
	<h1>Cost Estimate</h1>
	<p>Project Name: #{ projectName } </p>
	<p>The area is: #{area} and the cost estimate is: #{costEstimate}</p>
	<p>Built-up Area: #{ builtUpArea } sqm</p>
	<p>Above Ground Floor: #{aboveGroundFloor} floors</p>
	<p>Below Ground Floor: #{belowGroundFloor} floors</p>
	<p>Floor Finishing Type: #{floorFinishingType} </p>
	<p>Carpentry And Joinery: #{carpentryAndJoinery}</p>
	<p>Roofing Material: #{roofingMaterial} </p>
	<p>HVAC System: #{HVACSystem}</p>
	<p>Fire Protection System: #{fireProtectionSystem}</p>
	<p>Building Type: #{buildingType}</p>
	<p>Sanitary Fixtures: #{sanitaryFixtures}</p>
	<p>Electrical Material: #{electricalMaterial}</p>
</body>
<footer>
	<p>&copy; 2023 Building Cost Estimation</p>
</footer>
</html>